@import url('https://fonts.googleapis.com/css?family=Montserrat|Staatliches&display=swap');

.APODImage {
    margin: 2% 10%;
    height: 500px;
    padding: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

.apod {
    height: 100%;
    width: 50%;
    float: left;
    padding-right: 30px;
    object-fit: cover;
}

.descriptionDiv {
    width: 48%;
    margin-left: 50%;
    
    align-items: center;
    
}

h2 {
    font-family: 'Staatliches', cursive;
    font-size: 40px;
}

.description {
    font-family: 'Montserrat', sans-serif;
    /* padding: 5px; */
    font-size: 15px;
}

