.categories {
    width: 100%;
}

.categoryTitle {
    font-family: 'Staatliches', cursive;
    font-size: 18px;
    margin-bottom: 0px;
}

.categoryDescription {
    font-family: 'Oswald', cursive;
    font-size: 13px;
    margin-top: 0px;
}
.columns {
    width: 47%;
    float: right;
    max-height: 97px;
    margin-right: 2%;
}