@import url('https://fonts.googleapis.com/css?family=Montserrat|Staatliches&display=swap');

.eventName {
    font-family: 'Staatliches', cursive;
    font-size: 23px;
    margin-bottom: 0px;
}

.eventDiv {
    border: 1px solid black;
    float:left;
    width: 47%;
    margin-left: 2%;
}

.eventDiv:first-child {
    margin-bottom: 20px;
}

.eventDiv p {
    font-family: 'Staatliches', sans-serif;
}

.category {
    font-size: 14px;
}

.date {
    font-size: 18px;
}

.eventColumns {
    width: 80%;
    background: orange;
    margin-left:10%;
}
