@import url('https://fonts.googleapis.com/css?family=Montserrat|Staatliches&display=swap');

.eventName {
    font-family: 'Staatliches', cursive;
    font-size: 20px;
}

.eventDiv {
    width: 46%;
    margin-bottom: 15px;
    border: 1px solid black;
    float:left;
    margin-right:2%;
}
.span {
    margin-top: 500px;
}
.eventDiv:first-child {
    margin-top: 35px;
}

.eventDiv p {
    font-family: 'Staatliches', sans-serif;
    width: 60%;
    margin-left: 20%;
}

.eventDiv:last-child {
    
}

h5 {
    font-family: 'Staatliches', cursive;
    font-size: 17px;
}

.eventColumns {
    width: 80%;
    background: orange;
    margin-left: 15%;
}
