@import url('https://fonts.googleapis.com/css?family=Montserrat|Staatliches&display=swap');

.eventName {
    font-family: 'Staatliches', cursive;
    font-size: 20px;
}

.eventDiv {
    width: 50%;
    margin-left: 25%;
    margin-bottom: 15px;
    border: 1px solid black;
}

.eventDiv:first-child {
    margin-top: 35px;
}

.eventData {
    border-bottom: 0.5px dashed black;
    width: 60%;
    margin-left: 20%;
}

.eventData:last-child {
    border-bottom: none;
}