@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Oswald&display=swap');

.DatePicker > .ButtonDiv {
    display: inline;
}

.DatePicker {
    height: 25px;
    align-items: center;
}
  
.DatePicker input {
    width: 20%;
    height: 100%;
    font-family: 'Staatliches', cursive;
    letter-spacing: 1.75px;
}
  
.ButtonDiv button:disabled {
    background-color: grey;  
}
  
.ButtonDiv button {  
    background-color: #b4c1ff;    
    height: 100%;
    font-family: 'Staatliches', cursive;
    font-size: 14px;
    letter-spacing: 1.5px;
    width: 100px;
}