.nav {
    max-width: 1010px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 0%;
    background-color: black ;
    
}
.figure {
    float: left;
}

ul {
    list-style: none;
    display: flex;
    margin-left: 0%;
    align-items: center;
}

li {
    text-align: right;
    background-color: orange;
    text-decoration: none;
}


