@import url('https://fonts.googleapis.com/css?family=Montserrat|Staatliches&display=swap');

.search {
    width: 80%;
    margin-left: 10%;
    margin-top: 2%;
}

.searchTitle {
    font-family: 'Staatliches', cursive;
    margin-top: 2%;
    font-size: 60px;
    letter-spacing: 3px;
    margin-top: 100px;
}