@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Oswald&display=swap');

.SearchForm > .ButtonBar {
  display: inline;
}

.SearchForm {
  height: 25px;
  align-items: center;
}

.SearchForm input {
  width: 30%;
  height: 80%;
}

.ButtonBar button:disabled {
  background-color: grey;  
}

.ButtonBar button {
  background-color: #b4c1ff;
  height: 100%; 
  width: 100px;
  font-family: 'Fjalla One', sans-serif;
  letter-spacing: 1px;
  font-size: 13.375px;
  letter-spacing: 2px;
}

